.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 10px;
  grid-template-areas: 
    "header header header"
    "left1 center right"
    "left2 center right"
    "left3 center right"
    "footer footer footer";
}

.header {
  grid-area: header;
}

.left:nth-child(1) {
  grid-area: left1;
}

.left:nth-child(2) {
  grid-area: left2;
}

.left:nth-child(3) {
  grid-area: left3;
}

.center {
  grid-area: center;
}

.right {
  grid-area: right;
}

.footer {
  grid-area: footer;
}