.blogposts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  padding: 1rem 0;
}

.blogpost:nth-of-type(2) {
  grid-column: span 3;
}

.blogpost:nth-of-type(3) {
  grid-column: span 3;
}